/* styles.css or your custom CSS file */
.container {
    position: relative;
}

.image-container {
    height: calc(100vh / 2);
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh / 2);
    background-color: rgba(0, 0, 0, 0.5);
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* Media Queries for responsiveness */

/* For smaller devices (phones) */
@media screen and (max-width: 640px) {
    .text-container {
        font-size: 1.5rem;
    }
}

/* For medium devices (tablets) */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .text-container {
        font-size: 1.8rem;
    }
}

/* For larger devices (desktops) */
@media screen and (min-width: 1025px) {
    .text-container {
        font-size: 2rem;
    }
}